@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

html,
body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

._container {
  width: 90%;
  margin: 0 auto;
  max-width: 75rem;
}

._page {
  padding: 1rem 0;
}

.category {
  padding: 0.5rem;
}